<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>second works!</p>
    <div class="container">
        <div class="row">
            <div class="col px-3 py-2 border text-center">Name</div>
            <div class="col px-3 py-2 border text-center">ID no</div>
            <div class="col px-3 py-2 border text-center">Home</div>
            <div class="col-2"></div>
        </div>
        <div class="row" *ngFor="let student of data, let num=index">
            <div class="col px-3 py-2 border text-center">
                <span *ngIf="show!=student._id">{{student.name }}</span>
                <input *ngIf="show==student._id" class="form-control" type="text" name="name" id="name" [(ngModel)]="name"/>
            </div>
            <div class="col px-3 py-2 border text-center">
                <span *ngIf="show!=student._id">{{student.roll}}</span>
                <input *ngIf="show==student._id" class="form-control" type="number" name="roll" id="roll" [(ngModel)]="roll" />
            </div>
            <div class="col px-3 py-2 border text-center">
                <span *ngIf="show!=student._id">{{student.home}}</span>
                <input *ngIf="show==student._id" class="form-control" type="text" name="home" id="home" [(ngModel)]="home"/>
            </div>
            <div class="col-2" *ngIf="loggedUser">
                <button *ngIf="show!=student._id" class="btn btn-warning m-1" (click)="showModal(student,num)">Edit</button>
                <button *ngIf="show==student._id" class="btn btn-secondary m-1" (click)="cancelit(student)">Cancel</button>
                <button *ngIf="show!=student._id" class="btn btn-danger m-1" (click)="deleteit(student,num)">Delete</button>
                <button *ngIf="show==student._id" class="btn btn-primary" (click)="updateit()">Update</button>
            </div>
        </div>
    </div>
</body>
</html>
